argslib==1.0.0
certifi==2020.6.20
cffi==1.14.3
chardet==3.0.4
colorama==0.4.4
cryptography==3.1.1
doctr==1.8.0
ibis==1.6.0
idna==2.10
ivy==3.3.1
Jinja2==2.11.2
Markdown==3.3.2
MarkupSafe==1.1.1
pycparser==2.20
Pygments==2.7.1
PyYAML==5.3.1
requests==2.24.0
shortcodes==3.0.0
six==1.15.0
syntext==2.6.1
urllib3==1.25.11
